:root {
  scroll-behavior: smooth;
}

.theme-default-content,
.page-meta,
.page-nav {
  max-width: 1064px !important;
}

.theme-default-content {
  > p {
    max-width: 900px;
  }
}

/* W3C standard
   сейчас только для Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #9d9d9d white;
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}
*::-webkit-scrollbar-track {
  background: #9d9d9d;
}
*::-webkit-scrollbar-thumb {
  background-color: white;
}
